<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="vacationnow.png" />
    <title>VacationNow</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark lavender palosans">
      <a class="navbar-brand" href="index.html">VACATION NOW</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ourteam.html">Our Team</a>
          </li>
        </ul>
      </div>
    </nav>

    <br />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="text-center">OUR TEAM</h1>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-3">
          <a target = "#" href="https://github.com/georgesphicas">
            <img
              class="popout"
              style="width: 150px"
              src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/gprof2.png?v=1725466823760"
            />
          </a>
          <h1 style="position: relative; top: -120px; left: 160px">
            George<br>
            Sphicas
          </h1>
        </div>
        <div class="col-md-6 col-sm-3">
          <a target = "#" href="https://github.com/hanag1234">
            <img
              class="popout"
              style="width: 150px"
              src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/hprof2.png?v=1725466833246"
            />
          </a>
          <h1 style="position: relative; top: -120px; left: 160px">
            Hana<br>Gamracy
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-3">
          <a target = "#" href="https://github.com/par-sodhi">
            <img
              class="popout"
              style="width: 150px"
              src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/pprof2.png?v=1725466828515"
            />
          </a>
          <h1 style="position: relative; top: -120px; left: 160px">
            Param<br>Sodhi
          </h1>
        </div>
        <div class="col-md-6 col-sm-3">
          <a target = "#" href="https://github.com/nogagottlieb">
            <img
              class="popout"
              style="width: 150px"
              src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/nprof2.png?v=1725466818226"
            />
          </a>
          <h1 style="position: relative; top: -120px; left: 160px">
            Noga<br>Gottlieb
          </h1>
        </div>
      </div>
    </div>

    <!-- moving background planes -->
    <div class="moving-bg">
      <ul class="box-area">
        <li>
          <img
            class="img-fluid"
            src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/planetrail.png?v=1725055221577"
          />
        </li>
        <li>
          <img
            class="img-fluid"
            src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/planetrail.png?v=1725055221577"
          />
        </li>
        <li>
          <img
            class="img-fluid"
            src="https://cdn.glitch.global/294282c5-9e0f-4966-975b-532832b447ad/planetrail.png?v=1725055221577"
          />
        </li>
      </ul>
    </div>

    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
